<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="SmtpServerAddress" value=""/>
		<add key="SmtpServerPort" value="25"/>
		<add key="SmtpSenderAddress" value=""/>
		<add key="SmtpServerUsername" value=""/>
		<add key="SmtpServerPassword" value=""/>
		<add key="SmtpIsSslEnabled" value="false"/>
	</appSettings>
</configuration>