<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
	  <add name="NotificationsEntities" connectionString="metadata=res://*/Notifications.csdl|res://*/Notifications.ssdl|res://*/Notifications.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Notifications;user id=Notification_User; password=pass1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="BulkSmsUserName" value="vukuzakhesms"/>
    <add key="BulkSmsPassword" value="Vuk$m$P0rt@l"/>
    <add key="BulkSmsUrl" value="https://bulksms.2way.co.za/eapi/submission/send_sms/2/2.0"/>
  </appSettings>
  
</configuration>